<div class="container login-container">

    <div class="row" id="login-pic">
        <div class="col-xs-12 text-center">
            <img ng-src="/img/logo.png" alt="Fitness People" class="img-responsive login-image"/>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <form class="form-group login-form">
                <input type="email" class="form-control" value="" placeholder="Email" ng-model="user"/>
                <input type="password" class="form-control" value="" placeholder="Password" ng-model="pass"/>
                <button class="btn full-width" ng-click="submit()">Login</button>
            </form>
        </div>
    </div>
</div>
